@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    background: linear-gradient(90deg, #CA6E3C, #658477);
    color: #f1f1f1;
    padding: clamp(20px, 5vw, 50px) 10px 10px;
}

h1 {
    font-size: 40px;
}

h1 span {
    border-bottom: 1px solid;
    font-size: 60px;
    margin-left: 5px;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    max-width: 400px;
    background: #f1f1f1f1;
    border: 1px solid #f1f1f1;
    margin: 50px auto;
}

.cell {
    aspect-ratio: 1/1;
    background: #2a335b;
    color: #f1f1f1;
    cursor: pointer;
    font-size: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}